p {
    text-align: center;
}

.nav-title {
    margin-left: 0.5rem;
}

.info-container {
    background-color: #329c97;
    padding: 1rem;
    border-radius: 20px;
    animation: fadeInAnimation ease 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.info-error-container {
    background-color: #da2558;
    padding: 1rem;
    border-radius: 20px;
    height: 100%;
    animation: fadeInAnimation ease 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.info-card-container {
    display: flex;
    align-content: space-around;
}

.form {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #305955;
    border-radius: 15px;
    animation: fadeInAnimation ease 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.submit-btn {
    background-color: #ca7558;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 30px;
    transition-duration: 0.4s;
}

.submit-btn:hover {
    background-color: #f6cd65;
    color: black;
}

.submit-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.map {
    min-height: 50vh;
    animation: fadeInAnimation ease 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.map-section {
    margin-bottom: 2rem;
    margin-top: 2rem;
} 


.atms-title {
    text-align: center;
}

.available-atms {
    font-weight: 600;
    font-size: 1.5rem
}

.unavailable-atm {
    font-weight: 600;
    font-size: 1.3rem
}

.error-msg {
    font-weight: 400;
    color: rgb(255, 38, 38);
}
