.nav-title {
    margin-left: 0.5rem;
}

.info-container {
    background-color: darkcyan;
    padding: 1rem;
    border-radius: 20px;
}

.info-error-container {
    background-color: #da2558;
    padding: 1rem;
    border-radius: 20px;
    height: 100%;
}

.info-card-container {
    display: flex;
    align-content: space-around;
}

.form {
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(12, 90, 90);
    border-radius: 15px;
}

.submit-btn {
    background-color: darkgoldenrod;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 30px;
}

.submit-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.map {
    min-height: 50vh;
}

.map-section {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.atms-title {
    text-align: center;
}

.available-atms {
    font-weight: 600;
    font-size: 1.5rem
}

.unavailable-atm {
    font-weight: 600;
    font-size: 1.3rem
}

.error-msg {
    font-weight: 400;
    color: rgb(255, 38, 38);
}
